*.pdf
*.tiff
*.jpeg
*.jpg
*.png
*.bmp
*.gif
*.webp
*.raw
*.svg
*.ico
*.psd
*.ai
*.eps
*.dcm
*.nii
*.nii.gz
*.pem
*.pyc
*.DS_Store
*.tif
*.tiff
*.mov
*.mp4
*.avi
*.mkv
*.webm
*.flv
*.wmv
*.m4v
*.mpg
*.mpeg

.vscode